annotated-types==0.7.0
anyio==4.12.1
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
cryptography==48.0.0
fastapi==0.110.0
h11==0.16.0
idna==3.11
packaging==26.2
pillow==12.2.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyMySQL==1.1.0
python-dotenv==1.0.1
reportlab==4.4.10
setuptools==82.0.1
starlette==0.36.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.27.1
wheel==0.47.0
